<div>
    <form action="/artist-search" method="GET">
    <input type="text" id="q" name="q" placeholder='e.g. "Red Hot Chili Peppers"'>
    <input type="submit" value="Search for an Artist">
    </form>
</div>

